:root {
  --hue-primary: 180;
  --clr-primary: var(--hue-primary) 100% 50%;
  @for $i from 9 through 1 {
    --clr-primary-#{$i * 100}: var(--hue-primary) 100% #{$i * 10.5%};
  }

  --clr-text: var(--hue-primary) 100% 10%;
  --clr-bg-light: var(--hue-primary) 100% 99%;
  --fs-x-small: clamp(0.5em, calc(0.5em + 0.5vw), 1.25em);
  --fs-small: clamp(0.75em, calc(0.5em + 0.55vw), 1.5em);
  --fs-body: clamp(1em, calc(0.5em + 0.75vw), 2em);
  --fs-large: clamp(1.15em, calc(0.75em + 0.75vw), 2em);
  --fs-x-large: clamp(1.25em, calc(0.85em + 1vw), 2.25em);
  --fs-heading-sm: clamp(1.5em, calc(1em + 1.5vw), 2.5em);
  --fs-heading: clamp(2em, calc(1.5em + 2vw), 3em);
  --fs-heading-lg: clamp(3em, calc(1.5em + 3vw), 5em);
}

// Reset

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2em;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background: hsl(var(--clr-primary-300) / 25%);
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(var(--clr-primary-200));
    border: 0.15rem solid hsl(var(--clr-primary-200));
    border-radius: 100vmax;
  }

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: hsl(var(--clr-text));
  background-color: hsl(var(--clr-bg-light));
  font-size: var(--fs-body);
}

a {
  display: inline-block;
  text-decoration: none;

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Basic Styles

.sr-only:not(:focus, :active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border-width: 0;
  white-space: nowrap;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.prevent-select {
  user-select: none;
}

.container {
  --gutter: 1.5em;
  --max-width: 1440px;

  width: min(var(--max-width), 100% - (var(--gutter) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;

  @media screen and (min-width: 64em) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

// Navbar

.navbar {
  position: fixed;
  background: hsl(var(--clr-primary-900));
  inset-inline: 0;
  z-index: 999;
  padding-block: 0.5em;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: hsl(var(--clr-text));
    text-decoration: none;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 120%;
      height: 0.25rem;
      border-radius: 100vmax;
      bottom: -10%;
      left: -10%;
      background: hsl(var(--clr-primary-200));
      transform-origin: right;
      scale: 0 1;
      transition: scale 250ms linear;
    }

    &:where(:hover, :focus)::after {
      scale: 1;
      transform-origin: left;
    }

    &.btn {
      font-size: var(--fs-small);
      background: hsl(var(--clr-primary-200));
      border-radius: 100vmax;
      padding: 0.25em 0.75em;
      color: hsl(var(--clr-bg-light));
      transition: background 150ms linear;

      &:where(:hover, :focus) {
        background: hsl(var(--clr-primary-300));
      }

      &::after {
        display: none;
      }
    }
  }
}

.parallax-container {
  z-index: -1;
  position: fixed;
  inset: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  svg {
    translate: 50% -50%;
    fill: hsl(var(--clr-primary-300) / 10%);
    width: max(100vmin, 100%);
    aspect-ratio: 1;
    right: 50%;
    top: 0;
    animation: spin infinite linear 25000ms;
    @media screen and (min-width: 992px) {
      right: 0;
    }
    @keyframes spin {
      to {
        rotate: 360deg;
      }
    }
  }
}

// Main

section {
  min-height: 100vh;
  padding-block: 2.5em;

  &.bg-inverted {
    background: hsl(var(--clr-primary-200) / 95%);
    color: hsl(var(--clr-bg-light));
    mix-blend-mode: multiply;
    padding-block: 1em;
  }
}

.section-heading {
  font-size: var(--fs-heading);
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

// Hero

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  &-heading {
    display: flex;
    flex-direction: column-reverse;
  }

  h1 {
    font-size: var(--fs-heading-lg);
    font-weight: 700;
  }

  h2 {
    font-size: var(--fs-heading-sm);
    font-family: "Arima", cursive;
  }

  p {
    font-size: var(--fs-large);
  }

  abbr {
    text-decoration: none;
    background: hsl(var(--clr-primary-400) / 15%);
    padding-inline: 0.15em;
    border-radius: 0.25em;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;

    .btn {
      padding: 0.35em 1em;
      position: relative;
      border-radius: 100vmax;
      transition: all 100ms linear;

      &::after {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        opacity: 0;
        scale: 0;
        transition: opacity 250ms linear,
          scale 500ms cubic-bezier(0.15, 0.85, 0.3, 1.2);
      }

      &:where(:hover, :focus) {
        &::after {
          opacity: 1;
          scale: 1;
        }
      }

      &:first-of-type {
        background: hsl(var(--clr-primary-300));
        border: 1px solid hsl(var(--clr-primary-300));
        color: hsl(var(--clr-bg-light));

        &::after {
          content: "\f06e";
          left: 5%;
          font: var(--fa-font-regular);
        }

        &:where(:hover, :focus) {
          background: hsl(var(--clr-primary-200));
          padding-inline: 2em 1em;
        }
      }

      &:last-of-type {
        border: 0.1rem solid hsl(var(--clr-primary-300));
        color: hsl(var(--clr-primary-200));

        &::after {
          content: "\f095";
          right: 7.5%;
          color: hsl(var(--clr-bg-light));
          font: var(--fa-font-solid);
        }

        &:where(:hover, :focus) {
          background: hsl(var(--clr-primary-300));
          color: hsl(var(--clr-bg-light));
          padding-inline: 1em 2em;
        }
      }
    }
  }
}

// About Us

.about {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: justify;

  &-note {
    background: hsl(var(--clr-primary-400) / 15%);
    padding: 0.5em 1em;
    border-radius: 0.35em;
  }
}

// Infrastructure

.infrastructure {
  .container {
    --max-width: 80%;

    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

// Review

.slick-autoplay-toggle-button {
  inset-inline: 0;
}

.slides {
  display: flex;
  padding: 1em;

  .slick-slide > div > div {
    width: 100%;
    flex: 0 0 auto;
    display: grid !important;
    place-items: center;
    text-align: center;
    gap: 0.65em;

    &[slide-active] {
      display: grid;
    }
  }

  img {
    width: clamp(7.5em, 7.5em + 7.5vmax, 100% - 2.5em);
    animation: animate-blob 3000ms infinite linear;
    @keyframes animate-blob {
      0% {
        border-radius: 35% 65% 65% 35% / 30% 55% 50% 70%;
      }

      25% {
        border-radius: 60% 40% 65% 35% / 55% 75% 25% 45%;
      }

      50% {
        border-radius: 60% 40% 70% 30% / 80% 70% 30% 20%;
      }

      75% {
        border-radius: 55% 45% 50% 55% / 65% 65% 35% 35%;
      }

      100% {
        border-radius: 35% 65% 65% 35% / 30% 55% 50% 70%;
      }
    }
  }

  h4 {
    font-size: var(--fs-x-large);
    font-weight: 600;
    color: hsl(var(--clr-primary-200));
  }

  p {
    width: 85%;
  }
}

// Quality

.quality {
  display: flex;
  flex-direction: column;
  gap: 1em;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.85em;

    li {
      font-size: var(--fs-small);
      position: relative;

      &:not(:last-of-type)::after {
        position: absolute;
        content: "";
        width: 100%;
        background: hsl(var(--clr-primary-300) / 85%);
        height: 0.01rem;
        bottom: -25%;
        left: 0;
      }
    }
  }
}

// Contact

.contact {
  display: flex;
  flex-direction: column;
  gap: 1em;

  h3 {
    font-size: var(--fs-x-large);
    font-weight: 600;
    text-align: center;
  }

  h4 {
    font-size: var(--fs-large);
    font-weight: 500;
  }

  .head-office {
    padding-block: 0.5em;
    border-radius: 0.35em;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      border-radius: 0.35em;
      padding: 0.5em;
      background: hsl(var(--clr-primary-200) / 25%);
      mix-blend-mode: multiply;
      z-index: -1;
      border: 0.1rem solid hsl(var(--clr-primary-300) / 35%);
    }

    .card-group {
      padding: 0.5em 1em;

      .card {
        position: relative;
        padding: 1em;

        &::after {
          position: absolute;
          content: "";
          inset: 0;
          border-radius: 0.35em;
          padding: 0.5em;
          background: hsl(var(--clr-primary-300) / 25%);
          mix-blend-mode: multiply;
          z-index: -1;
          border: 0.1rem solid hsl(var(--clr-primary-300) / 35%);
        }

        display: flex;
        flex-direction: column;
        gap: 0.35em;
        justify-content: center;
        align-items: center;
        text-align: center;

        em {
          font-size: var(--fs-heading);
        }
      }
    }
  }

  .factory {
    padding-block: 0.5em;
    border-radius: 0.35em;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      border-radius: 0.35em;
      padding: 0.5em;
      background: hsl(var(--clr-primary-200) / 25%);
      mix-blend-mode: multiply;
      z-index: -1;
      border: 0.1rem solid hsl(var(--clr-primary-300) / 35%);
    }

    .card-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 0.5em 1em;
      gap: 1em;

      .card {
        position: relative;
        padding: 1em 0.5em;

        &::after {
          position: absolute;
          content: "";
          inset: 0;
          border-radius: 0.35em;
          padding: 0.5em;
          background: hsl(var(--clr-primary-300) / 25%);
          mix-blend-mode: multiply;
          z-index: -1;
          border: 0.1rem solid hsl(var(--clr-primary-300) / 35%);
        }

        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        text-align: center;

        em {
          font-size: var(--fs-heading);
        }
      }

      .map-card {
        grid-area: 1 / 2 / -1 / -1;
        padding: 0.5em;

        iframe {
          z-index: 99;
          border: none;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 0.75em 1em;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    font-size: var(--fs-small);
    padding: 0.25em 0.5em;
    border-radius: 0.35em;
    border: 0.1rem solid hsl(var(--clr-primary-300));
    background: hsl(var(--clr-primary-200) / 15%);
    transition: all 250ms ease-in-out;

    &:hover {
      background: hsl(var(--clr-primary-400) / 15%);
    }

    &:focus {
      box-shadow: 0 0 0 0.25em hsl(var(--clr-primary-100) / 15%);
      background: hsl(var(--clr-primary-300) / 25%);
    }
  }

  textarea {
    width: 100%;
    height: 100%;
  }

  .contact-number-code {
    .input-group {
      display: flex;
      border-radius: 0.35em;
      transition: all 250ms ease-in-out;

      &:focus-within {
        box-shadow: 0 0 0 0.25em hsl(var(--clr-primary-200) / 15%);
      }
    }

    .contact-prefix {
      background: hsl(var(--clr-primary-300));
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 0.65em;
      color: hsl(var(--clr-bg-light));
      border: 0.1rem solid hsl(var(--clr-primary-300));
      border-inline-end: 0;
      border-radius: 0.35em 0 0 0.35em;
    }

    #country-code {
      width: 10ch;
      border-inline-end: 0;
      border-radius: 0;
    }

    #contact-number {
      flex-grow: 1;
      border-radius: 0 0.35em 0.35em 0;
    }

    input:focus {
      box-shadow: none;
    }
  }

  .city-country {
    flex-direction: row;
    gap: 1em;

    .input-group {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  .manufacturer {
    grid-column: 1/2;
  }

  .supplier {
    grid-column: 1/2;
  }

  .message {
    grid-row: 5 / 7;
    grid-column: 2 / -1;
  }

  .btn-group {
    grid-column: 1/-1;
    grid-row: 7/-1;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }

  button {
    padding: 0.5em 1em;
    width: 10ch;
    font-weight: 500;
    border-radius: 0.5em;
    position: relative;
    transition: all 250ms ease-in-out;

    &::before {
      position: absolute;
      font: var(--fa-font-solid);
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      top: 50%;
      translate: 0 -50%;
      opacity: 0;
      transition: all 250ms ease-in-out, color 0ms;
    }

    &:where(:hover, :focus)::before {
      opacity: 1;
    }

    &[type="reset"] {
      border: 0.1rem solid hsl(var(--clr-primary-300));
      color: hsl(var(--clr-primary-200));

      &::before {
        content: "\f01e";
        left: 10%;
      }

      &:where(:hover, :focus) {
        background: hsl(var(--clr-primary-300));
        color: hsl(var(--clr-bg-light));
        padding-left: 2em;

        &::before {
          rotate: 360deg;
        }
      }
    }

    &[type="submit"] {
      background: hsl(var(--clr-primary-300));
      border: 1px solid hsl(var(--clr-primary-300));
      color: hsl(var(--clr-bg-light));

      &::before {
        content: "\f1d8";
        right: 7.5%;
        translate: -50% 0;
      }

      &:where(:hover, :focus) {
        background: hsl(var(--clr-primary-200));
        padding-inline: 0.75em 2.5em;

        &::before {
          translate: 0 -50%;
        }
      }
    }
  }
}

// Footer

.footer {
  background: hsl(var(--clr-primary-300) / 25%);
  border-block-start: 0.1rem solid hsl(var(--clr-primary-300));

  &-logo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;

    .quick-link-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: hsl(var(--clr-text));
      padding: 0.5em 1em;
      border-radius: 100vmax;
      isolation: isolate;
      background: transparent;
      overflow: hidden;
      transition: color 150ms linear;
      box-shadow: 0 0 0 0.1rem hsl(var(--clr-primary-300));

      &::before {
        position: absolute;
        content: "";
        inset: 100% 0;
        background: hsl(var(--clr-primary-200) / 65%);
        z-index: -1;
        transition: inset 250ms linear;
      }

      &:where(:hover, :focus) {
        color: hsl(var(--clr-bg-light));

        &::before {
          inset: 0;
        }
      }
    }

    .quick-link-btn-group {
      gap: 1em;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: hsl(var(--clr-text));
        border-radius: 100%;
        padding: 1em;
        height: 100%;
        aspect-ratio: 1;
        position: relative;
        isolation: isolate;
        transition: color 150ms linear,
          scale 250ms cubic-bezier(0.15, 0.85, 0.3, 1.2);
        box-shadow: 0 0 0 0.1rem hsl(var(--clr-primary-300));
        overflow: hidden;

        &::before {
          position: absolute;
          content: "";
          inset: 0;
          background: hsl(var(--clr-primary-200) / 65%);
          border-radius: 100%;
          scale: 0;
          transition: scale 250ms cubic-bezier(0.15, 0.85, 0.3, 1.2);
          z-index: -1;
        }

        &:where(:hover, :focus) {
          color: hsl(var(--clr-bg-light));
          scale: 1.1;

          &::before {
            scale: 1;
          }
        }
      }
    }
  }

  &-nav {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      $icon-list: ("\\f015", "\\f05a", "\\f64f", "\\f49e", "\\f0a3", "\\f002");
      @for $var from 1 through 6 {
        &:nth-of-type(#{$var}) {
          --ftr-link-icon: "#{nth($icon-list, $var)}";
        }
      }

      position: relative;
      isolation: isolate;

      &::before {
        position: absolute;
        content: "";
        inset: 0;
        background: hsl(var(--clr-primary-200) / 65%);
        z-index: -1;
        scale: 1 0;
        transition: all 350ms cubic-bezier(0.25, 0.8, 0.1, 1.05);
      }

      &:where(:hover, :focus, :focus-within) {
        a {
          padding-inline-start: 2.5em;
          color: hsl(var(--clr-bg-light));
        }

        &::before {
          scale: 1;
        }
      }
    }

    a {
      font-size: var(--fs-large);
      display: block;
      padding: 0.35em 1em;
      border-inline-start: 0.1rem solid hsl(var(--clr-primary-300));
      border-block-end: 0.1rem solid hsl(var(--clr-primary-300));
      color: hsl(var(--clr-text));
      transition: all 750ms cubic-bezier(0.1, 0.85, 0.2, 1.2);
      position: relative;

      &::before {
        position: absolute;
        left: 2%;
        top: 50%;
        translate: 0 -50%;
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        font-size: 1.25em;
        opacity: 0;
        scale: 0;
        content: var(--ftr-link-icon);
        transition: opacity 350ms cubic-bezier(0.15, 0.85, 0.3, 1.2),
          scale 350ms cubic-bezier(0.15, 0.85, 0.3, 1.2);
      }

      &:where(:hover, :focus)::before {
        opacity: 1;
        scale: 1;
      }
    }
  }
}
